#form{
    position: relative;
    overflow:visible;
    z-index:0;
    left: 35%;
    width:280px;
    display: flex;
   justify-content: center;
    margin-top:3em;
    right: 5%;
    height: auto;

}
#form img:hover{
    cursor: pointer;
}
#form input{
    width:279px;
    height: auto;
    border: 2px solid #181818;
    box-sizing: border-box;
    border-radius: 28px;
    margin-right:1em;
}
#form input::placeholder{
    font-style: normal;
    font-weight: normal;
    display:flex;
    flex-wrap: wrap;
    font-size: 15px;
    align-items: center;
    text-align:center;
    color: black;
}

#form input:active,:hover,:focus{
    outline: 0;
    outline-offset: 0;
}
#form img{
    max-width:25px;
    max-height:25px;
    margin-top:0.2em;
}
@media(max-width:1050px){
    #form{
        position: relative;
        left:50%;
        margin-top:1.5em;
        z-index:3;
        width: 70px;
        margin-bottom: 4em;
        justify-content: center;
        height: auto;
        display: flex;
    }
    #form input{
        width:279px;
        height:auto;
        border: 2px solid #181818;
        box-sizing: border-box;
        border-radius: 28px;
        margin-right:1em;
    }
}