#menu_item{
    display: flex;
    width: 345px;
    height: 194px;
    overflow:hidden;
    text-align: center;
    z-index: 10;
    align-items: center;
    font-size:1.0em;
    padding:10px 10px 10px 10px;
    margin: 20px 20px 20px 20px;
}
.list_image{
    position: absolute;
    width:345px;
    height:194px;
    z-index:10;
}

.item_text{
    margin-left:35%;
    z-index: 10 !important;
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size:2em;
    color: #FFFEF8;

}
.long{
    margin-left:20% !important;
}
#menu_item:hover{
    transition:80ms ease-in-out;
    cursor: pointer;
    opacity:0.5;
}
@media(max-width:500px) {
    .list_image{
        position: absolute;
        width:245px;
        height:170px;
        z-index:10;
    }
    .item_text{
        margin-left:20% !important;
        z-index: 10 !important;
        font-family: 'Roboto', sans-serif !important;
        font-style: normal;
        font-weight: normal;
        font-size:2em;
        color: #FFFEF8;

    }
    .long{
        margin-left:5% !important;
    }
}