.option{
    width:60px;
    height: 20px;
    text-align: center;
    justify-content: center;
    font-style: normal;
    font-family: 'Roboto', sans-serif !important;
    font-size:0.8em;
    margin-top:0.4em;
    color: #FFFEF8;
    border: 1px solid #FFFFF8;

}
.option:hover{
    cursor:pointer;
}